<ion-grid>
  <ion-row>
    <div class="flex-child">
      <!-- <ng-select [items]="nonSafehavenCities"
        class="city-selection"
        bindLabel="name"
        bindValue="name"
        [(ngModel)]="selectedCityId">
      </ng-select>

      <ion-button (click)="infectCity()" class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="success">Infect City</ion-button>

      <ion-button (click)="uninfectCity()" class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="secondary">Uninfect City</ion-button> -->

      <ion-button class="select-line-button-tweak button-margin float-button"
        expand="block" [fill]="handledEpidemic ?  'outline' : 'solid'" color="success" (click)="nextRound()">
        {{ handledEpidemic ? 'Start Epidemic' : 'End Epidemic' }}
      </ion-button>

      <ion-button class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="danger" (click)="resetGame()">
        Reset Game
      </ion-button>

      <div class="infection-rate">
        <span class="label">Infection Rate:</span>
        <ion-button expand="none" fill="outline" size="small" class="add-remove-button" (click)="updateInfectionRate(-1)">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
        <span>{{ infectionRate }}</span>
        <ion-button expand="none" fill="outline" size="small" class="add-remove-button" (click)="updateInfectionRate(+1)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-row>


  <ion-row>
    <ion-grid class="data-table" style="padding-top: 0px;">
      <!-- <ion-row>{{ nonSafehavenCitiesLeadingBlank | json }}</ion-row> -->

      <ion-row *ngFor="let city of nonSafehavenCitiesLeadingBlank" style="border-bottom: thin black solid;">

        <!-- header row -->
        <ng-container *ngIf="city === ''">
          <ion-col *ngFor="let round of topDeckHistoryLeadingBlank; let i = index;" class="table-row" style="padding-bottom: 0px; padding-top: 0px;"
            [class.round-column]="i !== 0" [class.side-heading]="i === 0" [style.padding-left]="i === 0 ? '0px' : 'auto'" [style.padding-right]="i === 0 ? '0px' : 'auto'">
            <div *ngIf="i === 0" class="table-first-column table-row-data" style="padding-left: 0px; padding-right: 0px;">
              <span style="font-size: 17px;"><b>Full Deck ({{ totalCardsInDeck() }})</b></span>
              <div class="extant-count" style="padding-right: 0px; font-size: 17px;">
                <span style="padding-right: 0px"><b>Discard ({{ totalDiscardedInCurrentRound() }})</b></span>
              </div>
            </div>
            <div *ngIf="i !== 0" class="table-first-column table-row-data" style="text-align:center!important">
              <span><b>Round {{ i }}</b></span>
            </div>
          </ion-col>
          <ion-col class="table-row" style="padding-bottom: 0px; padding-top: 0px;">
            <div class="table-first-column table-row-data" style="text-align:left!important">
              <span><b>Risk Assessment</b></span>
            </div>
          </ion-col>
        </ng-container>

        <!-- city row -->
        <ng-container *ngIf="city !== ''">
          <ion-col *ngFor="let round of topDeckHistoryLeadingBlank; let i = index;" [class.round-column]="i !== 0" [class.side-heading]="i === 0">

            <!-- first column -->
            <ng-container *ngIf="round === ''">
              <div class="table-first-column table-row-data" [style.background]="city.color" [style.color]="contrastColor(city.color)">
                <ion-button expand="none" fill="outline" size="small" class="add-remove-button" (click)="removeInfectionCard(city.name)"
                  [class.white-button]="contrastColor(city.color) === 'white'" [class.black-button]="contrastColor(city.color) === 'black'">
                  <ion-icon slot="icon-only" name="remove"></ion-icon>
                </ion-button>
                <ion-button expand="none" fill="outline" size="small" class="add-remove-button" (click)="addInfectionCard(city.name)"
                  [class.white-button]="contrastColor(city.color) === 'white'" [class.black-button]="contrastColor(city.color) === 'black'">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
                <span><b>({{ city.extantCount }})</b></span>
                <span><b>{{ city.name }}</b></span>
                <div class="extant-count">
                  <ion-button expand="none" fill="outline" size="small" class="add-remove-button" (click)="uninfectCity(city.name)"
                    [class.white-button]="contrastColor(city.color) === 'white'" [class.black-button]="contrastColor(city.color) === 'black'">
                    <ion-icon slot="icon-only" name="remove"></ion-icon>
                  </ion-button>
                  <ion-button expand="none" fill="outline" size="small" class="add-remove-button" (click)="infectCity(city.name)"
                    [class.white-button]="contrastColor(city.color) === 'white'" [class.black-button]="contrastColor(city.color) === 'black'">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                  </ion-button>
                </div>
                <!-- {{ city | json }} -->
              </div>
            </ng-container>

            <!-- subsequent columns -->
            <ng-container *ngIf="round !== ''">
              <div class="table-row-data">
                <span>{{ roundCount(round, city) }}</span>
              </div>
            </ng-container>
          </ion-col>
          <ion-col>
            <div class="table-row-data" style="text-align: left;">
                <!-- <ng-container *ngFor="let num of integers; let i = index;">
                  <span *ngIf="i < city.extantCount"> {{ cityIsWithinInfectionHorizon(city.name, 1, i + 1) }}</span>
                </ng-container>
                <span> | </span>
                <ng-container *ngFor="let num of integers; let i = index;">
                  <span *ngIf="i < city.extantCount"> {{ cityIsWithinInfectionHorizon(city.name, 2, i + 1) }}</span>
                </ng-container> -->
                <span>
                  <ng-container *ngFor="let num of integers; let i = index;">
                    <ion-icon class="radio-ball" *ngIf="i < city.extantCount"
                      [class.red]="cityIsWithinInfectionHorizon(city.name, 1, i + 1) === 1"
                      [class.yellow]="cityIsWithinInfectionHorizon(city.name, 1, i + 1) === 0 && cityIsWithinInfectionHorizon(city.name, 2, i + 1) === 1"
                      [class.black]="cityIsWithinInfectionHorizon(city.name, 1, i + 1) === 0 && cityIsWithinInfectionHorizon(city.name, 2, i + 1) === 0"
                      [name]="(cityIsWithinInfectionHorizon(city.name, 2, i + 1) === 0 && cityIsWithinInfectionHorizon(city.name, 1, i + 1) === 0) ? 'radio-button-off' : 'radio-button-on'"></ion-icon>
                  </ng-container>
                </span>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- <ng-select [items]="nonSafehavenCities"
        class="city-selection"
        bindLabel="name"
        bindValue="name"
        [(ngModel)]="selectedInfectionId">
      </ng-select>

      <ion-button (click)="addInfectionCard()" class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="success">Increase</ion-button>

      <ion-button (click)="removeInfectionCard()" class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="secondary">Decrease</ion-button> -->

      <ion-button (click)="newInfectionCard()" class="select-line-button-tweak button-margin float-button"
        style="margin-left: 0px;"
        expand="block" fill="outline" color="tertiary">New City</ion-button>

      <ion-button (click)="deleteInfectionCard()" class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="danger">Delete City</ion-button>

      <ion-button (click)="unwoundYourself()" class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="primary">Unwound</ion-button>

      <ion-button (click)="rewoundYourself()" class="select-line-button-tweak button-margin float-button"
        expand="block" fill="outline" color="secondary">Rewound</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <pre>{{ partitionBags | json}}</pre>
      <!-- <pre>{{ handledEpidemic }} </pre> -->
    </ion-col>
  </ion-row>
</ion-grid>

