:host {
  display: block;
  overflow-y: scroll;
}

.flex-container {
  display: block;
}

.city-selection {
  width:250px;
  float: left;
}

.flex-child {
  width: 100%;
}

.clear {
  display: block;
  clear: both;
}

.select-line-button-tweak {
  position: relative;
  top: -4px;
}

.button-margin {
  width: 150px;
  margin-left: 20px;
}

.float-button {
  float: left;
}

.table-row {
  padding: 10px;
}

.side-heading {
  max-width: 350px!important;
  font-size: 20px;
}

.round-column {
  max-width: 115px!important;
  text-align: center;
  display: table;
}

.card-count {
  justify-content: center;
}

.table-first-column {
  padding-left: 10px;
  padding-right: 10px;

  text-align: left;
  height: 45px;
  line-height: 45px;
  text-align: left!important;
  position: relative;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 10px;
  }

  .extant-count {
    display: inline-block;
    position: absolute;
    right: 10px;
  }

  ion-button {
    position: relative;
    top: -6px;
  }
}

.table-row-data {
  padding-left: 10px;
  padding-right: 10px;

  text-align: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.data-table {
  max-width: 95%;
  margin-left: 0;
}

.add-remove-button {
  --padding-start: 0px;
  --padding-end: 0px;
}

.white-button {
  color: white;
  --border-color: white;
}

.black-button {
  color: black;
  --border-color: black;
}

.infection-rate {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;

  height: 23px;
  line-height: 23px;
  text-align: center;
  position: relative;
  top: -3px;

  .label {
    color: green;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    font-size: 26px;
  }
}

.radio-ball {
  font-size: 35px;
  margin-left: 10px;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.black {
  color: black;
}